* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

main {
  margin: 0 auto;
  padding: 10px;
  max-width: 970px;
  & h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
}

canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
